body{ 
    width: 100%;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    margin: 0 auto;
}
#section__top{
    margin: 0 auto;
    height: 800px;
    
}
.header__container{
    width: 100%;
    height: 60px;
    background-color: #282828;
    font-size: 24px;
    text-align: center;
    z-index: 100;
    
}   
.header__nav a{
    line-height: 2.5em;
    margin: 15px;
    text-decoration: none;
    color: aliceblue;
}
.topnav .icon {
    display: none;
}

p{
    font-weight: 200;
    text-align: center;
    font-size: 30px;
    color: #3e3e3e;
}
h1{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #3e3e3e;
}
h2{
    font-size: 30px;
    text-align: center;
}
h3{
    font-weight: 400;
    text-align: center;
    font-size: 30px;
    color: #3e3e3e;
    
}
.inner__container{
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.img{
    margin: 0;
    border-radius: 100%;
}
.msg {
    width: 700px;
    font-size: 30px;
    line-height: 2.0;
    text-align: left;
    margin: 0 auto;
}
.inner__img{
    text-align: center;
    margin: 15px;
}
.inner__mesagge {
    display: flex;
    align-content: center;
    width: 1220px;
    margin: 0;
    font-weight: 300;
    
}
.clicker{
    display: flex;
    justify-content: center;
}
.button{
    font-size: 25px;
    color: #fff;
    display: inline-block;
    width: 350px;
    height: 100px;
    text-align: center;
    line-height: 4.5;
    border-radius: 10px;
    background-color: #43B3E0;;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    
}
#section__work{
    height: 800px;
    padding-top: 100px;
}
#section__portfolio{
    padding-top: 100px;
}
.boxes{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    width: 980px;
    
}
.box1{
    margin: 10px;
    width: 33%;
    border-radius: 10px;
    border: 1px solid gray;
}
.box2{
    margin: 10px;
    width: 33%;
    border-radius: 10px;
    border: 1px solid gray;
}
.box3{
    margin: 10px;
    width: 33%;
    border-radius: 10px;
    border: 1px solid gray;
}
.img{
    text-align: center;
    background-color: #fff;
}
.img_msg{
    font-weight: 400;
    font-size: 15px;
}
.center__button{
    font-size: 25px;
    color: #fff;
    display: inline-block;
    width: 450px;
    height: 100px;
    text-align: center;
    line-height: 4.5;
    border-radius: 10px;
    background-color: #43B3E0;;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}
.portfolio__clicker{
    display: flex;
    justify-content: center;
}
.up__portfolio{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    width: 990px;
}
.left__up{
    margin: 10px;
    width: 33%;

    border: 1px solid gray;
}
.pic01{
    margin: 0 auto;
    text-align: center;
}
.center__up{
    margin: 10px;
    width: 33%;
    border: 1px solid gray;
}
.pic02{
    margin: 0 auto;
    text-align: center;
}
.right__up{
    margin: 10px;
    width: 33%;
    border: 1px solid gray;
}
.pic03{
    margin: 0 auto;
    text-align: center;
}
.down__portfolio{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    width: 990px;
}
.pic04{
    margin: 0 auto;
    text-align: center;
}
.pic05{
    margin: 0 auto;
    text-align: center;
}
.pic06{
    margin: 0 auto;
    text-align: center;
}
.contact__clicker{
    display: flex;
    justify-content: center;
}
.contact__button{
    font-size: 25px;
    color: #fff;
    display: inline-block;
    width: 350px;
    height: 100px;
    text-align: center;
    line-height: 4.5;
    border-radius: 10px;
    background-color: #43B3E0;;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 40px;
}
#section__contact{
    width: 100%;
    height: 950px;
    background-color: #303030;
    margin: 100px 0 auto;
}
.header__inner{
    padding-top: 50px;
}
input[type=name], input[type=email] {
    padding: 15px 60px;
    height: 40px;
    width: 300px;
    border: none;
    border-radius: 10px;
    background: #282828;
    margin: 10px auto;
    font-size: 20px;
    color: #fff;
    -moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	
}
input[type=name]:focus, input[type=email]:focus {
    background-color: #fff;
    outline: none;
    font-size: 20px;
    color: #303030;
}
.up__name, .up__email{
    
    width: 100%;
    display: flex;
    font-size: 20px;
}
input[type=message] {
    padding: 5px 60px;
    height: 240px;
    width: 500px;
    border: none;
    border-radius: 10px;
    background: #282828;
    margin: 10px auto;
    font-size: 20px;
    color: #fff;
    text-align: left;
    display: flex;
    -moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-webkit-appearance: none;
}
input[type=message]:focus {
    background-color: #fff;
    outline: none;
    font-size: 20px;
    color: #303030;
    text-align: left;
}
.send__button{
    font-size: 25px;
    color: #fff;
    display: inline-block;
    width: 250px;
    height: 70px;
    text-align: center;
    line-height: 4.5;
    border-radius: 10px;
    background-color: #43B3E0;;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.send{
    display: flex;
    justify-content: center;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: silver; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
@media screen and (max-width:768px){
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .inner__container{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 0;
    }
    .center__container{
        width: 100%;
        margin: 0 auto;
    }
    .boxes{
        width: 100%;
    }
    .up__portfolio, .down__portfolio{
        width: 100%;
    }
}
    
@media screen and (max-width: 425px) {
    .container{
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .inner__container{
        padding: 0;
    }
    .header__nav a{
        font-size: 20px;
    }
    .msg {
        font-size: 20px;
    }
    p{
        font-size: 20px;
    }
    h3{
        font-size: 20px;
    }
    h1{
        font-size: 25px;
    }
    .button{
        font-size: 18px;
        height: 70px;
        line-height: 3.5;
    }
    .boxes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }
    .box1{
        width: 70%;
        margin: 15px auto;
    }
    .box3{
        width: 70%;
        margin: 15px auto;
    }
    .footer__container{
        padding-top: 50px;
        margin: 0 auto;
    }
    .up__portfolio{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .left__up{
        width: 70%;
        margin: 15px auto;
    }
    .center__up{
        width: 70%;
        margin: 15px auto;
    }
    .down__portfolio{
        display: flex;
        flex-direction: column;
        
    }
    .left__down{
        width: 70%;
        margin: 15px auto;
    }
    .center__down{
        width: 70%;
        margin: 15px auto;
    }
    .contact__button{
        height: 40px;
        text-align: center;
        font-size: 20px;
    }
    .up__name, .up__email{
        width: 100%;
    }
    .up__message{
        width: 50%;
    }
}
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin:0 auto;
    padding-top: 50px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }